<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Mybatis-mapper -->

<mapper namespace="com.activity.mybatis-mappers.ContentMapper">

	<sql id="contentTable">
		content_no,
		content_name,
		content_info,
		content_price,
		content_capacity,
		content_yn,
		admin_email		
	</sql>
	
	
<!-- ====삽입 쿼리====  -->





<!-- ====조회 쿼리====  -->

<!-- 컨텐츠 리스트 조회 (테스트용,임시) -->
<select id="getContentList" parameterType="ContentDTO" resultType="ContentDTO">
	SELECT
		<include refid="contentTable"></include>
	FROM 
		CONTENT
</select>

<!-- 컨텐츠 리스트 조회 (메인페이지에 사용) -->
<select id="getContenno" parameterType="ContentDTO" resultType="ContentDTO">
	SELECT
		<include refid="contentTable"></include>
	FROM 
		CONTENT
</select>

<!-- 컨텐츠 한건 조회(컨텐츠 번호 10000001로 테스트 조회)  -->
<select id="getContentInfo" parameterType="int" resultType="ContentDTO">
	SELECT 
		<include refid="contentTable"></include>
	FROM
		CONTENT
	WHERE
		content_no = #{content_no}
</select>

<!-- 상세페이지 컨텐츠-타이틀이미지 조회  -->
 <select id="getTitleImage" parameterType="int" resultType="ImageDTO">
select 
	image_no, image_path, content_no, image_type
from 
	image_table
where 
	content_no = #{content_no}
and 
	image_type = 'title';
</select> 

<!-- 상세페이지 컨텐츠-이미지 조회  -->
 <select id="getContentImage" parameterType="int" resultType="ImageDTO">
select 
	image_no, image_path, content_no, image_type
from 
	image_table
where 
	content_no = #{content_no}
and 
	image_type = 'info';
</select> 

<!-- 상세페이지 컨텐츠 옵션 조회 (resultMap 사용 - BO 방식 ) -->
<select id="getContentOption" parameterType="int" resultType="ContentOptionBO">
select 
	A.content_no, A.option_no , B.option_name  
from 
	content_option A inner join option_table B
where 
	A.option_no =B.option_no
and 
	A.content_no = #{content_no};
</select>


<!-- 메인페이지 - 컨텐츠테이블 , 타이틀이미지 리스트 조회 -->
<select id="getContentListBO" resultType="ContentListBO">
select 
	A.content_no
	, A.content_name
	, A.content_info
	, A.content_price
	, A.content_capacity
	, A.content_yn
	, A.admin_email
	, B.image_path
from 
	content A inner join image_table B
where 
	A.content_no = B.content_no
and 
	B.image_type = 'title' ;
</select>

<!-- 상세페이지 컨텐츠 옵션 조회 (resultMap 사용 - BO 만들지 않고 조인해서 사용하는 방법) -->
<!-- <resultMap type="ContentOptionDTO" id="ContentOptionDTO">	
	<result column="content_no" property="content_no"/>	
	<result column="option_no" property="option_no"/>	
	<collection property="OptionDTO" resultMap="OptionDTO"></collection>
</resultMap>
<resultMap type="OptionDTO" id="OptionDTO">	
	<result column="option_no" property="option_no"/>	
	<result column="option_name" property="option_name"/>	
</resultMap>

<select id="getContentOption" resultMap="ContentOptionDTO">
select 
	A.content_no, A.option_no , B.option_name  
from 
	content_option A inner join option_table B
where 
	A.option_no =B.option_no
and 
	A.content_no = 10000001;
</select>
 -->

<!--  <resultMap type="ContentDTO" id="ContentDTO">	
	<result column="content_no" property="content_no"/>	
	<result column="content_name" property="content_name"/>	
	<result column="content_info" property="content_info"/>	
	<result column="content_price" property="content_price"/>	
	<result column="content_capacity" property="content_capacity"/>	
	<result column="content_yn" property="content_yn"/>	
	<result column="admin_email" property="admin_email"/>	
	<collection property="ImageDTO" resultMap="ImageDTO"></collection>
</resultMap>

<resultMap type="ImageDTO" id="ImageDTO">	
	<result column="image_no" property="image_no"/>	
	<result column="image_path" property="image_path"/>	
	<result column="content_no" property="content_no"/>	
	<result column="image_type" property="image_type"/>	
</resultMap>

<select id="getContentImage" parameterType="ContentDTO" resultType="ContentDTO">
select 
	  A.content_no
	, A.content_name
	, A.content_info
	, A.content_price
	, A.content_capacity
	, A.content_yn 
	, A.admin_email
	,B.image_path 
from 
	content A join image_table B 
on 
	A.content_no  = B.content_no 
where 
	A.content_no  = 10000001 ;

</select>  -->


</mapper>