<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Mybatis-mapper -->

<mapper namespace="com.activity.mybatis-mappers.UserMapper">

<!-- refid - table -->

	<sql id="userTable">
		user_email,
		user_password,
		user_name,
		user_tell
	</sql>

			<!-- com.activity.domain.UserDTO = UserDTO Alias설정 (applilcation.properties) -->
			
<!-- ====삽입 쿼리====  -->

<!-- 회원가입 정보 삽입 -->
<insert id="insertUser" parameterType="UserDTO">
	INSERT INTO user(<include refid="userTable"></include>)
		VALUES(#{user_email}, #{user_password}, #{user_name}, #{user_tell})
</insert>





<!-- ====조회 쿼리====  -->

<!-- 유저 정보 리스트 -->
<select id="getUserList" parameterType="UserDTO" resultType="UserDTO">
	SELECT
		<include refid="userTable"></include>
	FROM
		user
</select>

<!-- 회원가입 중복 ID 체크 -->
<select id="getCheckEmail" resultType="int">
	SELECT COUNT(*)
	FROM USER
	WHERE   
		user_email = #{user_email}
</select>

<!-- 로그인 체크  --> 
<select id="getLoginCheck" resultType="int">
select
	count(*)
from 
	USER
where 
	user_email = #{user_email}
and 
	user_password = #{user_password}
</select>

</mapper>